<div class="app-card-container">
  <div class = "card">

    <h1>Reach Me <br> <br></h1>
    
    <div class ="row">
    <div class="col-md-2">
      
      <p> <b>Phone Number: </b><%= number_to_phone"5557658291" %> <br>
      <b> Email: </b><a href="mailto:ymey435@hotmail.com?subject=PortfolioContact" "Email me now"><br>Email me</a> <br>
      <b> Steam:</b> <br> YmeY <br>
      <b> Battlenet: </b>Medemon#1888 <br>
      </p>
    </div>
    <div class="col-md-10">
     
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.1170454244125!2d-111.77244558480568!3d40.56109245477112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87527cf4804c3947%3A0x1e101b437e6a5e48!2sBells+Canyon+Waterfall!5e0!3m2!1sen!2sus!4v1499959827058" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>

  </div>
</div>