<h1>Hi <%= current_user.first_name %></h1>

<h3>Welcome to my Website! :D</h3>

<h1> Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>

<h1>Portfolios</h1>
<%= @portfolios.inspect %>

<hr>
